<?xml version="1.0" ?><settings><node name="Hotkey-Next Phase" value="CTRL+SPACE"/><node name="Hotkey-RollD6" value="CTRL+R"/><node name="Language" value="English"/><node name="Hotkey-Reset Game" value="ALT+CTRL+G"/><node name="Hotkey-Flip Coin" value="CTRL+F"/><node name="Hotkey-Draw" value="CTRL+D"/><node name="OpenLastDeck" value="Yes"/><node name="Hotkey-Draw and Show" value="CTRL+W"/><node name="Update" value="Yes"/><node name="Nick" value="n00b"/><node name="Hotkey-Shuffle" value="CTRL+S"/><node name="Skin" value="Default"/><node name="Hotkey-End Turn" value="CTRL+E"/><node name="Full Screen" value="No"/><node name="LastDeckPath" value=""/><node name="ShowFaceUpCardName" value="No"/></settings>